@model Modelo.Proxy.PxyGridAlertasComunicacaoRep
@{
    ViewBag.Title = "Acompanhamento da Comunicação";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nomeTabela = "tbAlertas";
    string rowCallBack = @" function( row, data, index ) {
                if (data.AtivoStr == 'Não') {
                    $('td', row).css('color', 'Red');
                }
            }";
}

<div style="margin-top:0">
    <div class="panel panel-default" style="padding:0">
        <div class="panel-heading">
            @Html.ActionLink("X", "Index", "Home", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixo">
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.GridFor(nomeTabela, Model.GetType(), false, "AlertasComunicacaoRep", "DadosGrid", rowCallBack, "CallBackLoadGrid")
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-4 center-block">
                    <div style="text-align: left">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="padding-bottom: 0px; margin-bottom: 0px;">
                                    @Html.CheckBox("Esconder Inativos", new { id = "BEsconderInativos", @checked = "checked" })
                                    @Html.Label("Esconder Inativos", new { style = "padding-bottom: 0px; margin-bottom: 0px;", @for = "BEsconderInativos" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="#" id="btLog" class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Log</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-8 center-block">
                    <div style="text-align: right">
                        <a href="#" id="btConsultar" class="btn btn-info"><span class="glyphicon glyphicon-search"></span>&nbsp;Consultar</a>
                        <a href="#" id="btIncluir" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar</a>
                        <a href="#" id="btAlterar" class="btn btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Alterar</a>
                        <a href="#" id="btExcluir" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nomeTabela = "#" + '@nomeTabela';
    var controller = 'AlertasComunicacaoRep';
    $(document).ready(function () {
        cwk_EventoDbClickEditar('Alterar', controller, nomeTabela);

        cwk_EventoClickCadastroAdicionar('#btIncluir', 'Cadastrar', controller);
        cwk_EventoClickCadastroAlterar('#btAlterar', 'Alterar', controller, nomeTabela);
        cwk_EventoClickCadastroAlterar('#btConsultar', 'Consultar', controller, nomeTabela);
        cwk_EventoClickCadastroExcluir('#btExcluir', 'Excluir', controller, nomeTabela, 'Alerta excluído com sucesso.');

        cwk_EventoAlterarAjaxParam('#btLog', 'Grid', 'AlertasLog', nomeTabela, "");
    });

    function CallBackLoadGrid() {
        var val = $(nomeTabela+"psqAtivo").val();
        if (val.toLowerCase().indexOf("s") >= 0) {
            $("#BEsconderInativos").prop('checked', true);
        }
        else {
            ApenasAtivos();
        }
    }

    $("#BEsconderInativos").click(function (event) {
        EscondeInativos(event);
    });

    function EscondeInativos(e) {
        var table = $(nomeTabela).DataTable();
        if ($("#BEsconderInativos").is(':checked')) {
            ApenasAtivos();
        }
        else {
            $(nomeTabela + "psqAtivo").val("");
            table.columns(6).search("").draw();
        }
    };

    function ApenasAtivos() {
        var table = $(nomeTabela).DataTable();
        $(nomeTabela+"psqAtivo").val("Sim");
        table.columns(6).search("Sim", true, false, true).draw();
    }
</script>

