@model Modelo.Relatorios.RelatorioManutencaoDiariaModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Relatório de Manutenção Diária";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ManutencaoDiaria", "RelatorioManutencaoDiaria", FormMethod.Post, new { target = "_blank" }))
{
    <div class="">
        <div class="panel panel-default" style="padding:0px;margin-bottom:0">
            <div class="panel-heading">
                @Html.ActionLink("X", "Index", "Home", null, new { @class = "close" })
                <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
            </div>
            <div class="panel-body panelConteudo" id="panelBodyFixo">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.TipoArquivo, new { id = "tipoArquivo" })
                @Html.HiddenFor(model => model.FimPeriodo)
                @Html.HiddenFor(model => model.TipoSelecao)
                <div>
                    <div class="row" style="padding-bottom:5px;">
                        <div id="divPeriodo" class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding-top:2px; padding-bottom:2px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-1">
                                                @Html.LabelFor(model => Model.InicioPeriodo, new { @class = "label-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group input-group-sm" onkeypress="dataKeypress('#Inicio')">
                                                    @Html.TextBoxFor(model => Model.InicioPeriodo, new { @class = "form-control input-sm MascDate datepickerpt", id = "Inicio" })
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" id="btnDt" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                                                    </span>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => Model.InicioPeriodo)
                                            @Html.ValidationMessageFor(model => Model.TipoSelecao)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:5px;">
                        <div class="col-md-12">
                            @Html.HiddenFor(x => x.IdSelecionados)
                            @Html.ValidationMessageFor(x => x.IdSelecionados)
                            <div class="row">
                                @Html.GridFor("tbRelManutencaoDiaria", (new Modelo.Proxy.PxyGridRelatorioManutencaoDiaria()).GetType(), true, "RelatorioManutencaoDiaria", "DadosGrid")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("../JobManager/JobView")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 center-block">
                        <div style="text-align: right">
                            <button type="submit" id="btnPdf" class="btn btn-primary btnEnviar"><span class="fa fa-file-pdf-o"></span>&nbsp;Gerar PDF</button>
                            <button type="submit" id="btnXls" class="btn btn-primary btnEnviar"><span class="fa fa-file-excel-o"></span>&nbsp;Gerar Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var errorArray = new Array();
    cwk_DataCalendario('#btnDt', '#Inicio');

    //function retornaAltura() {
    //    var altura = cwk_AlturaTela() * 28 / 100;
    //    if (cwk_AlturaTela() <= 768) {
    //        altura = cwk_AlturaTela() * 18 / 100;
    //    }
    //    return altura;
    //}

    $(document).ready(function () {


        $('#tbRelManutencaoDiaria tbody').on('click', 'tr', function () {
            errorArray["IdSelecionados"] = null;
            $("form").validate().showErrors(errorArray);
        });
    });

    $("#btnPdf").click(function (event) {
        if (!validaForm()) {
            event.preventDefault();
        }
        else {
            $("#tipoArquivo").val("PDF");
        }
    });

    $("#btnXls").click(function (event) {
        if (!validaForm()) {
            event.preventDefault();
        }
        else {
            $("#tipoArquivo").val("Excel");
            $('form').submit();
            event.preventDefault();
        }
    });

    function validaForm() {
        $("#IdSelecionados").val(GetSelecionados('tbRelManutencaoDiaria'));
        if ($("#IdSelecionados").val().length <= 0 || $("#IdSelecionados").val() == '' || $("#IdSelecionados").val() == null) {
            var msgErro = 'Para Imprimir o Relatório de Manutenção Diária é Necessário Selecionar Pelo Menos um Departamento.';
            errorArray["IdSelecionados"] = msgErro;
            cwkErro(msgErro);
            $("form").validate().showErrors(errorArray);
            return false;
        }
        else {
            errorArray["IdSelecionados"] = null;
            $("form").validate().showErrors(errorArray);
            return true;
        }
    }

    $('form').submit(function () {
        if ($(this).valid()) {
            PostFormJob(this);
        }
        return false;
    });
        
</script>
