@model Modelo.Ocorrencia
@{
    ViewBag.Title = "Cadastrar Ocorrência";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id, new { id = "idOcorrencia" });
    @Html.HiddenFor(model => model.Incdata);
    @Html.HiddenFor(model => model.Inchora);
    @Html.HiddenFor(model => model.Incusuario);
    @Html.HiddenFor(model => model.Altdata);
    @Html.HiddenFor(model => model.Althora);
    @Html.HiddenFor(model => model.Altusuario);
    <div class="divCenterPequeno">
        <div class="panel panel-default" style="padding:0">
            <div class="panel-heading salvando">
                @Html.ActionLink("X", "Grid", "Ocorrencia", null, new { @class = "close" })
                <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
            </div>
            <div class="panel-body panelConteudo">
                @Html.ValidationMessage("CustomError")
                <div class="tabbable" style="margin-top:0;">
                    <ul class="nav nav-tabs" id="hnTab">
                        <li class="active"><a href="#pnlGeral" data-toggle="tab" id="liPnlGeral" style="padding:5px;">Geral</a></li>
                        <li><a href="#pnlRestricoes" data-toggle="tab" id="liPnlRestricoes" style="padding:5px;">Restrições</a></li>
                    </ul>
                    <div class="tab-content" style="padding-top:5px;">
                        @*TAB Parametros Gerais *@
                        <div class="tab-pane fade in active" id="pnlGeral">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Codigo, new { @class = "control-label label-sm" })
                                        @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control  input-sm" })
                                        @Html.ValidationMessageFor(model => model.Codigo)
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="panel panel-default" style="margin-bottom:4px">
                                        <div class="panel-heading" style="padding-top:1px; padding-bottom:2px">
                                            @Html.LabelFor(model => model.TipoAbono, new { @class = "label-sm" }) &nbsp;
                                        </div>
                                        <div class="panel-body" style="padding-top:8px; padding-bottom:5px">
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.TipoAbono, 0, new { id = "idRadioLegal", name = "rdioTipo" })
                                                <label class="label-sm" for="idRadioLegal">Abono Legal</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.TipoAbono, 1, new { id = "idRadioNaoLegal", name = "rdioTipo" })
                                                <label class="label-sm" for="idRadioNaoLegal">Abono Não Legal</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.TipoAbono, 2, new { id = "idRadioOutros", name = "rdioTipo" })
                                                <label class="label-sm" for="idRadioOutros">Outros</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.TipoAbono, 3, new { id = "idRadioHoraTrabalhada", name = "rdioTipo" })
                                                <label class="label-sm" for="idRadioHoraTrabalhada">Hora Trabalhada</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Absenteismo, new { @class = "control-label label-sm" })
                                        @Html.CheckBoxFor(model => model.Absenteismo, new { @class = "checkbox" })
                                        @Html.ValidationMessageFor(model => model.Absenteismo)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExibePaineldoRH, new { @class = "control-label label-sm" })
                                        @Html.CheckBoxFor(model => model.ExibePaineldoRH, new { @class = "checkbox" })
                                        @Html.ValidationMessageFor(model => model.ExibePaineldoRH)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ObrigarAnexoPainel, new { @class = "control-label label-sm" })
                                        @Html.CheckBoxFor(model => model.ObrigarAnexoPainel, new { @class = "checkbox" })
                                        @Html.ValidationMessageFor(model => model.ObrigarAnexoPainel)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.OcorrenciaFerias, new { @class = "control-label label-sm" })
                                    @Html.CheckBoxFor(model => model.OcorrenciaFerias, new { @class = "checkbox" })
                                    @Html.ValidationMessageFor(model => model.OcorrenciaFerias)
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Ativo, new { @class = "control-label label-sm" })
                                    @Html.CheckBoxFor(model => model.Ativo, new { @class = "checkbox" })
                                    @Html.ValidationMessageFor(model => model.Ativo)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Descricao, new { @class = "control-label label-sm" })
                                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control  input-sm" })
                                        @Html.ValidationMessageFor(model => model.Descricao)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sigla, new { @class = "control-label label-sm" })
                                        @Html.TextBoxFor(model => model.Sigla, new { @class = "form-control  input-sm" })
                                        @Html.ValidationMessageFor(model => model.Sigla)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="margin-bottom:4px">
                                        <div class="panel-heading" style="padding-top:1px; padding-bottom:2px">
                                            @Html.LabelFor(model => model.DefaultTipoAfastamentoStr, new { @class = "label-sm" }) &nbsp;
                                        </div>
                                        <div class="panel-body" style="padding-top:8px; padding-bottom:5px">
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.DefaultTipoAfastamento, 0, new { id = "idRadioDTANInformado", name = "rdioDefaultTipoAfastamento" })
                                                <label class="label-sm" for="idRadioDTANInformado">Não Informado</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.DefaultTipoAfastamento, 1, new { id = "idRadioDTAAbonado", name = "rdioDefaultTipoAfastamento" })
                                                <label class="label-sm" for="idRadioDTAAbonado">Abonado</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.DefaultTipoAfastamento, 2, new { id = "idRadioDTASemCalculo", name = "rdioDefaultTipoAfastamento" })
                                                <label class="label-sm" for="idRadioDTASemCalculo">Sem Cálculo</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.DefaultTipoAfastamento, 3, new { id = "idRadioDTASuspensao", name = "rdioDefaultTipoAfastamento" })
                                                <label class="label-sm" for="idRadioDTASuspensao">Suspensão</label>
                                            </div>
                                            <div class="radio-inline" data-toggle="radioTipo" style="margin-top:-4px">
                                                @Html.RadioButtonFor(model => model.DefaultTipoAfastamento, 4, new { id = "idRadioDTASemAbono", name = "rdioDefaultTipoAfastamento" })
                                                <label class="label-sm" for="idRadioDTASemAbono">Sem Abono</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HorasAbonoPadrao, new { @class = "control-label label-sm" })
                                        @Html.TextBoxFor(model => model.HorasAbonoPadrao, new { @class = "form-control  input-sm editor-field timeL valorNecessario", @placeholder = "--:--", id = "txtHoraI" })
                                        @Html.ValidationMessageFor(model => model.HorasAbonoPadrao)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HorasAbonoPadraoNoturno, new { @class = "control-label label-sm" })
                                        @Html.TextBoxFor(model => model.HorasAbonoPadraoNoturno, new { @class = "form-control  input-sm editor-field timeL valorNecessario", @placeholder = "--:--", id = "txtHoraF" })
                                        @Html.ValidationMessageFor(model => model.HorasAbonoPadraoNoturno)
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        @*TAB Restricoes *@
                        <div class="tab-pane fade" id="pnlRestricoes">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-1">
                                            @Html.Label("Tipo", new { @class = "control-label label-sm" })
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="form-group input-group-sm">
                                                    <div class="col-md-3">
                                                        <div class="radio-inline" data-toggle="radio">
                                                            @Html.RadioButton("TipoRestricao", 0, new { id = "idTipoRestricaoEmpresa", @class = "radioRestricao", @checked = true })
                                                            @Html.Label("lbRestricaoEmpresa", "Empresa", new { @class = "control-label label-sm", @for = "idTipoRestricaoEmpresa" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="radio-inline" data-toggle="radio">
                                                            @Html.RadioButton("TipoRestricao", 1, new { id = "idTipoRestricaoContrato", @class = "radioRestricao" })
                                                            @Html.Label("lbRestricaoContrato", "Contrato", new { @class = "control-label label-sm", @for = "idTipoRestricaoContrato" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-10">
                                        <div id="divEmpresa">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Empresa", new { @class = "control-label label-sm" })
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBox("Empresa", "", new { @class = "form-control  input-sm", id = "lkpEmpresa" })
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" id="btnEmpresa" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divContrato" hidden>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Contrato", new { @class = "control-label label-sm" })
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBox("Contrato", "", new { @class = "form-control  input-sm", id = "lkpContrato" })
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" id="btnContrato" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <br />
                                        <button type="button" id="btnInserirNovaRestricao" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding-top:2px; padding-bottom:0">
                                    @Html.Label("", "Restrições", new { @class = "control-label label-sm" })
                                </div>
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px">
                                    <table id="tbRestricao" class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Descrição</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody id="divRestricoes">
                                            @for (int i = 0; i < Model.OcorrenciaRestricao.Count; i++)
                                            {
                                                @Html.EditorFor(m => Model.OcorrenciaRestricao[i], "Restricoes")
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 center-block">
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-success salvando">
                                <span class="glyphicon glyphicon-ok-circle"></span> &nbsp;Salvar&nbsp;&nbsp;
                            </button>
                            <a class="btn btn-danger"
                               href="@Url.Action("Grid", "Ocorrencia")">
                                <span class="glyphicon glyphicon-remove salvando"></span> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        validaRadioDefaultTipoAfastamento();
    })
    $(":input[type='text']:enabled:visible:first").focus();
    $("input[name=DefaultTipoAfastamento]").change(function () {
        validaRadioDefaultTipoAfastamento();
    });

    //function validaRadioDefaultTipoAfastamento() {
    //    var value = $('input[name=DefaultTipoAfastamento]:checked').val();
    //    if (value === "1") {
    //        $("#txtHoraI").prop('readonly', false);
    //        $("#txtHoraF").prop('readonly', false);
    //    }
    //    else {
    //        $("#txtHoraI").prop('readonly', true);
    //        $("#txtHoraF").prop('readonly', true);
    //        $("#txtHoraI").val("");
    //        $("#txtHoraF").val("");
    //    }
    //}
</script>
@if (ViewBag.Consultar == 1)
{
    <script>
        $(document).ready(function () {
            $('form').find('input, textarea, button, select').attr('disabled', 'disabled');
        })
    </script>
}

@*Scripts referente a Restricao*@
<script>
    $(document).ready(function () {
        cwk_EventoConsulta("#btnEmpresa", "#lkpEmpresa", "EventoConsulta", "Empresa", "");
        cwk_EventoConsulta("#btnContrato", "#lkpContrato", "EventoConsulta", "Contrato", "");
    });

        $("#btnInserirNovaRestricao").click(function (e) {
        var itemIndex = $(".divRestricao").length;
        e.preventDefault();
        var tipoRest = $('input[name=TipoRestricao]:checked').val();
        var restr = $("#lkpEmpresa").val();
        if (tipoRest == 1) {
            restr = $("#lkpContrato").val();
        }

        if (isEmpty(restr)) {
            cwkAlerta('Selecione uma restrição');
        }
        else if ($('#tbRestricao tr:not([style*="display: none"]) td:contains(' + restr + ')').length > 0) {
            cwkAlerta('Restrição já existe');
        } else {
            $("#loading").modal();
            var idOco = $("#idOcorrencia").val();

            var obj = { index: itemIndex, tipoRestricao: tipoRest, restricao: restr, idOcorrencia: idOco };
            var url = '@Url.Action("AdicionaNovaRestricao", "Ocorrencia")' + "?" + $.param(obj, true);
            url = decodeURIComponent(url);

            $.get(url, function (data) {
                if (data.Success == true) {
                    $("#divRestricoes").prepend(data.HTML);
                    $("#lkpEmpresa").val("");
                    $("#lkpContrato").val("");
                }
                else {
                    cwkErro(data.Erro)
                }
                $("#loading").modal('hide');

            }).fail(function (xhr, status, error) {
                $("#loading").modal('hide');
                cwkErro("An AJAX error occured: " + status + "\nError: " + error);
            });
        }
    });

    function excluirRestricao(btn) {
        var containerRestricaoAtual = $(btn).closest('.divRestricao');
        containerRestricaoAtual.hide();
        console.log("Marcar = "+$(containerRestricaoAtual).children( ".marcarExcluido" ).attr('id'))
        $(containerRestricaoAtual).children(".marcarExcluido").val(true);
    }

    function validaPesquisaRestricao() {
        if ($('#idTipoRestricaoEmpresa').is(':checked')) {
            $("#divEmpresa").show();
            $("#divContrato").hide();
            $("#lkpContrato").val("");
        };

        if ($('#idTipoRestricaoContrato').is(':checked')) {
            $("#divEmpresa").hide();
            $("#lkpEmpresa").val("");
            $("#divContrato").show();
        };
    }

    $(".radioRestricao").change(function () {
        validaPesquisaRestricao();
    });
</script>
