@model Modelo.RepHistoricoLocal
@using System.Web.Optimization

@{
    ViewBag.Title = "Histórico do Local do Rep";
    Layout = null;
    var nomeTabela = "tbRepHistoricoLocal";
}

<div class="">
    <div class="panel panel-default" style="padding:0; margin-bottom:0px;">
        <div class="panel-heading">
            @Html.ActionLink("X", "Grid", "Rep", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixo">
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.GridFor(nomeTabela, Model.GetType(), false, "RepHistoricoLocal", "DadosGrid/" + Model.IdRep)
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <div style="text-align: right">
                        <a href="#" id="btConsultarHist" class="btn btn-info"><span class="glyphicon glyphicon-search"></span>&nbsp;Consultar</a>
                        <a href="#" id="btIncluirHist" class="btn btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar</a>
                        <a href="#" id="btAlterarHist" class="btn btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Alterar</a>
                        <a href="#" id="btExcluirHist" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var altura = cwk_AlturaTela() * 39 / 100;
    $(document).ready(function () {
        var nomeTabela = "#" + '@nomeTabela';
        cwk_DbClickCadastroEditarAjaxParam('Alterar', 'RepHistoricoLocal', '#tbHist', nomeTabela, { idRep: '@ViewBag.idRep' });
        cwk_EventoIncluirAjaxParam('#btIncluirHist', 'Cadastrar', 'RepHistoricoLocal', { idRep: '@Model.IdRep' });
        cwk_EventoAlterarAjaxParam('#btAlterarHist', 'Alterar', 'RepHistoricoLocal', nomeTabela, parametros = { idRep: '@Model.IdRep' })
        cwk_EventoAlterarAjaxParam('#btConsultarHist', 'Consultar', 'RepHistoricoLocal', nomeTabela, parametros = { idRep: '@Model.IdRep' })
        cwk_EventoClickCadastroExcluir('#btExcluirHist', 'Excluir', 'RepHistoricoLocal', nomeTabela, 'Histórico do local do Rep excluído com sucesso.');

    })
</script>
