@model Modelo.LayoutExportacao
@using System.Web.Optimization
@{
    ViewBag.Title = "Visualizar Layout de Exportação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="divCenterMedio">
    <div class="panel panel-default" style="padding:0">
        <div class="panel-heading">
            @Html.ActionLink("X", "Cadastrar", "LayoutExportacao", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixo">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.LabelCamposLayoutExportacao, new { @class = "control-label label-sm" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => "Qtd Caracteres: " + model.LabelQtdCamposLayoutExportacao, new { @class = "control-label label-sm" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6 center-block">
                    <div style="text-align: right">
                        <a class="btn btn-danger"
                           href="@Url.Action("Cadastrar", "LayoutExportacao")">
                            <span class="glyphicon glyphicon-remove salvando"></span> Fechar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

