@model Modelo.Relatorios.RelatorioHorasInItinereModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Relatório de Horas In Itinere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="">
        <div class="panel panel-default" style="padding:0px;">
            <div class="panel-heading">
                @Html.ActionLink("X", "Index", "Home", null, new { @class = "close" })
                <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
            </div>
            <div class="panel-body panelConteudo" id="" style="margin-bottom:0px;height:420px;">
                @Html.HiddenFor(x => x.TipoSelecao)
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("CustomError", new { id = "CustomError" })
                @Html.HiddenFor(model => model.TipoArquivo, new { id = "tipoArquivo" })
                <div>
                    <div class="row" style="padding-bottom:2px">
                        <div id="divPeriodo" class="col-md-5">
                            <div class="panel panel-default" id="pnlData">
                                <div class="panel-heading" style="padding-top:5px; padding-bottom:5px">
                                    <div class="row">
                                        <div class="col-md-2"><label class="control-label label-sm">Período</label></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBoxFor(model => Model.InicioPeriodo, new { @class = "form-control input-sm MascDate datepickerpt", id = "InicioPeriodo" })
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" id="btnDtInicio" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    @Html.Label("a", new { @class = "label-sm" })
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBoxFor(model => Model.FimPeriodo, new { @class = "form-control input-sm MascDate datepickerpt", id = "FimPeriodo" })
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" id="btnDtFim" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.HiddenFor(model => model.Intervalo)
                                                @Html.ValidationMessageFor(model => model.Intervalo)
                                                @Html.ValidationMessageFor(model => Model.InicioPeriodo)
                                                @Html.ValidationMessageFor(model => Model.FimPeriodo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(x => x.IdSelecionados)
                            @Html.ValidationMessageFor(x => x.IdSelecionados)
                            <div class="row">
                                @Html.GridFor("tbFun", (new Modelo.Proxy.pxyFuncionarioRelatorio()).GetType(), true, "GetFuncsRel", "GetFuns")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("../JobManager/JobView")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6 center-block">
                        <div style="text-align: left">
                            <div class="checkbox" style="margin:0">
                                <label>
                                    @Html.HiddenFor(model => model.OrdenarPorDepartamento, new { id = "bOrdenaDepto" })
                                    @Html.HiddenFor(model => model.OrdenarPorDepartamento, new { @class = "control-label label-sm", @for = "bOrdenaDepto" })
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 center-block">
                        <div style="text-align: right">
                            <button type="submit" id="btnPdf" class="btn btn-primary btnEnviar"><span class="fa fa-file-pdf-o"></span>&nbsp; PDF</button>
                            <button type="submit" id="btnHTML" class="btn btn-primary btnEnviar"><span class="fa fa-eye"></span>&nbsp; Visualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var errorArray = new Array();
    cwk_DataCalendario('#btnDtInicio', '#InicioPeriodo');
    cwk_DataCalendario('#btnDtFim', '#FimPeriodo');
    $(document).ready(function () {
        $('.datepickerpt').datepicker().on('hide', function (ev) {
            $("#pnlData").removeClass("panel-danger").removeClass("panel-success");
            $("#pnlData").addClass("panel-default");
            errorArray["Intervalo"] = null;
            $("form").validate().showErrors(errorArray);
            if ((this.id == "InicioPeriodo") && (($("#InicioPeriodo").val() != null && $("#InicioPeriodo").val() != "") && ($("#FimPeriodo").val() == null || $("#FimPeriodo").val() == ""))) {
                var inid = new Date(ev.date);
                endDate = new Date(ev.date);
                endDate.setDate(endDate.getDate() + 30);
                endDateString = ('0' + endDate.getDate()).slice(-2) + '/'
                    + ('0' + (endDate.getMonth() + 1)).slice(-2) + '/'
                    + endDate.getFullYear();
                $('#FimPeriodo').val(endDateString);
                $('#FimPeriodo').datepicker('update');
            }
            validaPeriodo(this);
        });

        $('#tbFun tbody').on('click', 'tr', function () {
            errorArray["IdSelecionados"] = null;
            $("form").validate().showErrors(errorArray);
        });
    });

    $("#btnPdf").click(function (event) {
        if (!validaForm()) {
            event.preventDefault();
        }
        else {
            $("#tipoArquivo").val("PDF");

        }
    });

    $("#btnHTML").click(function (event) {
        if (!validaForm()) {
            event.preventDefault();
        }
        else {
            $("#tipoArquivo").val("HTML");
        }
    });

    $('form').submit(function () {
        if ($(this).valid()) {
            PostFormJob(this);
        }
        return false;
    });

    function validaForm() {
        $("#IdSelecionados").val(GetSelecionados('tbFun'));
        if ($("#IdSelecionados").val().length <= 0 || $("#IdSelecionados").val() == '' || $("#IdSelecionados").val() == null) {
            var msgErro = 'Para Imprimir o Cartão Ponto é Necessário Selecionar Pelo Menos um Funcionário.';
            errorArray["IdSelecionados"] = msgErro;
            cwkErro(msgErro);
            $("form").validate().showErrors(errorArray);
            return false;
        }
        else {
            errorArray["IdSelecionados"] = null;
            $("form").validate().showErrors(errorArray);
            return true;
        }
    }

    function validaPeriodo(campo) {
        if (($("#InicioPeriodo").val() != null && $("#InicioPeriodo").val() != "") && ($("#FimPeriodo").val() != null && $("#FimPeriodo").val() != "")) {
            var dias = diasPeriodo($("#InicioPeriodo").val(), $('#FimPeriodo').val());
            if (dias <= 0) {
                errorArray["Intervalo"] = 'Data Inícial deve ser menor que a Final';
                $("form").validate().showErrors(errorArray);
                $("#pnlData").removeClass("panel-default").removeClass("panel-success");
                $("#pnlData").addClass("panel-danger");
                $("#divGridMarcacao").html("");
                return false;
            }
            else {
                $("#pnlData").removeClass("panel-default").removeClass("panel-danger");
                $("#pnlData").addClass("panel-success");
                return true;
            }
        }
        else {
            if (($("#InicioPeriodo").val() == null || $("#InicioPeriodo").val() == "") && ($("#FimPeriodo").val() == null || $("#FimPeriodo").val() == "")) {
                errorArray["Intervalo"] = 'A Data Inicial e Final devem ser preenchidas!';
                $("#InicioPeriodo").focus();
            }
            else {

                if ($("#InicioPeriodo").val() == null || $("#InicioPeriodo").val() == "") {
                    errorArray["Intervalo"] = 'A Data Inicial deve ser preenchida!';
                    $("#InicioPeriodo").focus();
                }
                if ($("#FimPeriodo").val() == null || $("#FimPeriodo").val() == "") {
                    errorArray["Intervalo"] = 'A Data Final deve ser preenchida!';
                    $("#FimPeriodo").focus();
                }
            }

            $("form").validate().showErrors(errorArray);
            $("#pnlData").removeClass("panel-default").removeClass("panel-success");
            $("#pnlData").addClass("panel-danger");
            $("#divGridMarcacao").html("");
            return false;
        }
    }

</script>
