@model GerenciadorWeb.Models.RelatorioBloqueioViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h2>Relatórios <small>Gerenciamento</small></h2><hr>
            </div>
            <!-- Start Filtros -->
            <div class="panel-body  col-md-offset-3">
                <div class="row form-group">
                    @Html.HiddenFor(model => model.Funcionario)
                    <div class="col-md-2 text-right"><label for="txtBuscaFuncionario">Funcionário:</label></div>
                    <div class="col-md-9"><input type="text" class="form-control" id="txtBuscaFuncionario" /></div>
                </div>
                <div class="row form-group">
                    @Html.HiddenFor(model => model.Responsavel)
                    <div class="col-md-2 text-right"><label for="txtBuscaResponsavel">Responsável:</label></div>
                    <div class="col-md-9"><input type="text" class="form-control" id="txtBuscaResponsavel" /></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 text-right"><label for="Acao">Ação:</label></div>
                    <div class="col-md-9">@Html.DropDownListFor(model => model.Acao, Model.Acoes, htmlAttributes: new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 text-right"><label for="Regra">Regra:</label></div>
                    <div class="col-md-9">@Html.DropDownListFor(model => model.Regra, Model.Regras, htmlAttributes: new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 text-right"><label for="Inicio">De:</label></div>
                    <div class="col-md-9">@Html.TextBoxFor(model => model.Inicio, htmlAttributes: new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 text-right"><label for="Fim">Até:</label></div>
                    <div class="col-md-9">@Html.TextBoxFor(model => model.Fim, htmlAttributes: new { @class = "form-control" })</div>
                </div>
            </div>
            <!-- End Filtros -->
        </div>
        <!-- Start Botões -->
        <div class="row painel_botoes">
            <input type="submit" class="btn btn-primary" name="Gerar" value="Gerar" id="Gerar" data-form-action="@Url.Action("Gerar")" />
            <input type="submit" class="btn btn-danger" name="Limpar" value="Limpar" id="Limpar" data-form-action="@Url.Action("Limpar")" />
        </div>
        <!-- End Botões -->
    </div>
    <script>
        $(document).ready(function () {
            $("#Inicio").datepicker();
            $("#Fim").datepicker();

            $("#txtBuscaFuncionario").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("Funcionarios")',
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Descricao,
                                    value: item.Descricao,
                                    id: item.ID
                                };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#Funcionario").val(ui.item.id);
                },
                change: function (event, ui) {
                    $("#Funcionario").val(ui.item ? ui.item.id : null);
                }
            });

            $("#txtBuscaResponsavel").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("Usuarios")',
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Usuario,
                                    value: item.Usuario,
                                    id: item.ID
                                };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#Responsavel").val(ui.item.id);
                },
                change: function (event, ui) {
                    $("#Responsavel").val(ui.item ? ui.item.id : null);
                }
            });

        });
    </script>
}
