@model Modelo.Proxy.PxyIdPeriodo

@{
    Layout = null;
    ViewBag.Title = "Relatório Funcionários por Rep";
    Modelo.REP rep = (Modelo.REP)ViewBag.Rep;
    List<Modelo.Proxy.pxyFuncionarioRep> func = (List<Modelo.Proxy.pxyFuncionarioRep>)ViewBag.Func;
}

@using (Html.BeginForm("RelatorioFuncionariosRep", "RelatorioFuncionariosRep", FormMethod.Post, new { id = "FormRelatorioBilhetesRep", target = "_blank" }))
{
    @Html.AntiForgeryToken()
    <div class="divCenterPequeno">
        <div class="panel panel-default">
            <div class="panel-heading salvando">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="xfecharCadastroModal">X</button>
                <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
            </div>
            <div class="panel-body panelConteudo">
                <div class="row">&nbsp;</div>
                @Html.ValidationMessage("CustomError")
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.Label("Código", new { @class = "control-label" })
                            @Html.TextBox("Codigo", rep.Codigo, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Número Série", new { @class = "control-label" })
                            @Html.TextBox("NumSerie", rep.NumSerie, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.Label("Local", new { @class = "control-label" })
                            @Html.TextBox("Local", rep.Local, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                @Html.GridFor("tbfun", (new Modelo.Proxy.pxyFuncionarioRep()).GetType(), true, "RelatorioFuncionariosRep", "DadosFuncionario/" + rep.Id)
                                @*@Html.GridFor("tbFun", (new Modelo.Proxy.pxyFuncionarioRep()).GetType(), true, "GetFuncsRel", "GetFunsComInativos")*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script>



    $('form').submit(function () {
        CarregarGridFuncionario();
        if ($(this).valid()) {
            PostFormJob(this, CallBackSucesso);
        }
        return false;
    });

    function CallBackSucesso() {
        $("#xfecharCadastroModal").click();
    }

    function CarregarGridFuncionario() {
        $('#idsEmpresasSelecionadas').val(GetSelecionados('tbEmp'));
        var parametros = {
            IdsEmpresas: $('#idsEmpresasSelecionadas').val(),
            idsFuncionariosSelecionados: $("#idsFuncionariosSelecionados").val()
        };
        CarregaDadosAjax('CarregarGridFuncionario', 'EnvioDadosRep', parametros, '#tbGridFuncionario', null);
    }


    $('#Relatorio').change(function () {
        var tipo = $('#Relatorio').val();
        switch (tipo) {
            case '1':
                changeRelNome();
                break;
            case '2':
                changeRelCodigo();
                break;
            case '3':
                changeRelDepto();
                break;
            case '4':
                changeRelEmpresa();
                break;
            case '5':
                changeRelHorario();
                break;
            case '6':
                changeRelAtivoInativo();
                break;
            case '7':
                changeRelPeriodo();
                //corrigeDatePicker();
                break;
            case '8':
                changeRelPeriodo();
                //corrigeDatePicker();
                break;
            default:
                break;

        }
        $('#tbFun').DataTable().draw();
    });
</script>