<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">        
            <div class="container-fuid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-link" href="@Url.Action("Index", "Usuario")"> <img src="~/images/logo_icone_gerenciador.png" class="img-adjust"></a>
                    @*@Html.ActionLink("Gerenciador de Estações de Trabalho", "Index", "Inicial", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_Menu")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
    </div>
    <div class="container-fuid">
        <div id="validacaoPartial">
            @Html.Partial("_ValidacaoPartial")
        </div>    
        @RenderBody()               
    </div>
    <script>
        $(document).on('click', '[type="submit"][data-form-action]', function (event) {
            var $this = $(this);
            var formAction = $this.attr('data-form-action');
            $this.closest('form').attr('action', formAction);
        });
        jQuery(function ($) {
            $.datepicker.regional['pt-BR'] = {
                closeText: 'Fechar',
                prevText: '&#x3c;Anterior',
                nextText: 'Pr&oacute;ximo&#x3e;',
                currentText: 'Hoje',
                monthNames: ['Janeiro', 'Fevereiro', 'Mar&ccedil;o', 'Abril', 'Maio', 'Junho',
                'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
                'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda-feira', 'Ter&ccedil;a-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
        });
        $.datepicker.setDefaults(
          $.extend(
            { 'dateFormat': 'dd/mm/yy' },
            $.datepicker.regional['pt-BR']
          )
        );
    </script>
    @*<link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />*@
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
</body>
</html>
