@model Modelo.UsuarioControleAcesso
@using System.Web.Optimization

@{
    ViewBag.Title = "Controle de Usuário";
    Layout = null;
    string nometabela = "tbControleAcessoUsuario";
}

<div class="divCenterGrande">
    <div class="panel panel-default" style="padding:0">
        <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="fecharModalGrid">X</button>
            <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixo">
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.GridFor(nometabela, Model.GetType(), true, "Usuario", "DadosGridControleUsuario/" + Model.Idfuncionario, "", "")
            </div>
        </div>
        <div class="panel-footer">
            <input id="iduser" value="@Model.Idfuncionario" hidden />
            <input id="nomtab" value="@nometabela" hidden />
            <div class="row">
                <div class="col-xs-5 center-block">
                    <div style="text-align: left">
                        <a href="#" id="btCopiar" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Copiar</a>
                    </div>
                </div>
                <div class="col-xs-7 center-block">
                    <div style="text-align: right">
                        <a href="#" id="btIncluirPermissao" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar</a>
                        <a href="#" id="btExcluirPermissao" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //EXCLUIR PERMISSÔES
    $(document).on('click', '#btExcluirPermissao', function () {
        var idUser = $('#iduser').val();
        var nomeTabela = "#" + $('#nomtab').val();

        var qtdSelecionados = $('#tbControleAcessoUsuario tbody tr.selected').length;

        var objPermissoes = {
            "idQueVaiSerAlterado": idUser,
            "EmpresasContratos" : []
        };

        for (var i = 0; i < qtdSelecionados; i++) {
            var id = $('#tbControleAcessoUsuario tbody tr.selected').eq(i).attr('id');
            var tipo = $('#tbControleAcessoUsuario tbody tr.selected').eq(i).find('td').eq(0).html()

            var Obj = {
                "idEmpresaContrato": id,
                "Tipo": tipo
            };
            objPermissoes.EmpresasContratos.push(Obj);
        };

        var id = GetIdSelecionadoTable(nomeTabela);
        if (id > 0) {
            var objetoTabela = $(nomeTabela).closest('table').DataTable();
            ajax_ExcluirRegistroJSON('ExcluirPermissao', 'Usuario', objPermissoes, 'Permissões excluidas.', objetoTabela, null, null, qtdSelecionados);
        } else {
            cwkErroTit('Selecione um Registro!', 'Antes de excluir um registro é necessário selecioná-lo!');
        }
    });
</script>
