@model Modelo.AlertasCampos
<tr id="@Model.Id">
    <td>@Model.Id</td>
    <td>@Model.NomeColuna</td>
    <td>@Model.Descricao</td>
    <td>@Model.Grupo</td>
    <td>@Model.SelecionadoStr</td>
</tr>