@model Modelo.Proxy.pxyContratoCwUsuarioDetalhe

<tr id="@Model.Id">
    <td>
        @Html.HiddenFor(m => m.Codigo, new { @class = "codigo" })
        @Html.HiddenFor(m => m.Login, new { @class = "login" })
        @Html.HiddenFor(m => m.Nome, new { @class = "nome" })
        @Html.HiddenFor(m => m.IdContratoUsuario, new { @class = "idcontcwusuario" })
        @Html.DisplayFor(m => m.Codigo)
    </td>
    <td>@Html.DisplayFor(m => m.Login)</td>
    <td>@Html.DisplayFor(m => m.Nome)</td>
</tr>

