@model GerenciadorWeb.Models.BloqueioViewModel
@using (Html.BeginForm("Salvar", "Gerenciamento"))
{
<div id="modalLiberacao" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="tituloModal">Painel de Liberação</h4>
            </div>
            <div class="modal-body col-md-offset-1">
                @Html.Hidden("IDFuncionario", Model.IDFuncionario)
                @Html.Hidden("Bloquear", Model.Bloquear)
                @Html.Hidden("FuncionariosLote", Model.FuncionariosLote)
                <div class="row form-group">
                    <div class="col-md-3 text-right"><label for="lblUsuario">Usuário:</label></div>
                    <div class="col-md-9"><span id="lblUsuario"></span></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3 text-right"><label for="DataConfiguracao">Data limite:</label></div>
                    <div class="col-md-9">@Html.TextBoxFor(x => x.DataConfiguracao, htmlAttributes: new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3 text-right"><label for="HoraConfiguracao">Hora limite:</label></div>
                    <div class="col-md-9">@Html.TextBoxFor(x => x.HoraConfiguracao, htmlAttributes: new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3 text-right"><label for="Motivo">Motivo:</label></div>
                    <div class="col-md-9">@Html.TextAreaFor(x => x.Motivo, htmlAttributes: new { @class = "form-control", rows = 3 })</div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Salvar" data-action='@Url.Action("Salvar")' />
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>*@
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#DataConfiguracao").datepicker();
        $("#HoraConfiguracao").mask("00:00");
    });

    function exibirModal(e, id, usuario, bloquear) {
        if(bloquear)
            $("#tituloModal").text("Painel de Bloqueio");
        else
            $("#tituloModal").text("Painel de Liberação");
        $("#DataConfiguracao").val(null);
        $("#HoraConfiguracao").val(null);
        $("#Motivo").val(null);
        $("#Bloquear").val(bloquear);
        $("#IDFuncionario").val(id);
        $("#lblUsuario").text(usuario);
        $("#modalLiberacao").modal();
        e.stopPropagation();
    }
    function validar() {

    }
    function exibirModalLote(e, tabela, bloquear) {
        var ids = tabela.rows({ selected: true }).ids();
        if (ids && ids.length > 0) {
            if (bloquear)
                $("#tituloModal").text("Painel de Bloqueio");
            else
                $("#tituloModal").text("Painel de Liberação");
            $("#DataConfiguracao").val(null);
            $("#HoraConfiguracao").val(null);
            $("#Motivo").val(null);
            $("#Bloquear").val(bloquear);
            $("#lblUsuario").text("Lote");
            $("#modalLiberacao").modal();
            $("#IDFuncionario").val(-1);
            $("#FuncionariosLote").val(ids.toArray().toString());
            e.stopPropagation();
        }
    }
</script>
}