@model Modelo.RepLog
@{
    ViewBag.Title = "Cadastrar Rep Log";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="divCenterPequeno">
        <div class="panel panel-default" style="padding:0">
            <div class="panel-heading salvando">
                @Html.ActionLink("X", "Grid", "RepLog", null, new { @class = "close" })
                <h3 class="panel-title titulo-pagina">Cadastro de Rep Log</h3>
            </div>
            <div class="panel-body panelConteudo">
                @Html.ValidationMessage("CustomError")
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Codigo, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.Codigo)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdRep, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.IdRep, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.IdRep)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comando, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.Comando, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.Comando)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DescricaoExecucao, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.DescricaoExecucao, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.DescricaoExecucao)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Executor, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.Executor, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.Executor)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Complemento, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.Complemento, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.Complemento)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "control-label label-sm" })
                            @Html.TextBoxFor(model => model.Status, new { @class = "form-control  input-sm" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 center-block">
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-success salvando">
                                <span class="glyphicon glyphicon-ok-circle"></span> &nbsp;Salvar&nbsp;&nbsp;
                            </button>
                            <a class="btn btn-danger salvando"
                               href="@Url.Action("Grid", "RepLog")">
                                <span class="glyphicon glyphicon-remove"></span> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(":input[type='text']:enabled:visible:first").focus();
</script>
@if (ViewBag.Consultar == 1)
{
    <script>
        $(document).ready(function () {
            $('form').find('input, textarea, button, select').attr('disabled', 'disabled');
        })
    </script>
}

