@model Modelo.Empresa
@using System.Web.Optimization

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nomeTabela = "tbEmpresa";
    string rowCallBack = @" function( row, data, index ) {
                if (data.AtivoStr == 'Não') {
                    $('td', row).css('color', 'Red');
                }
            }";
}
<div class="">
    <div class="panel panel-default" style="padding:0; margin-bottom:0">
        <div class="panel-heading">
            @Html.ActionLink("X", "Index", "Home", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">Empresa</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixodivCenter">
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.GridFor(nomeTabela, Model.GetType(), false, "Empresa", "DadosGrid", rowCallBack, "CallBackLoadGrid")
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group" style="padding-bottom: 0px; margin-bottom: 0px;">
                        @Html.CheckBox("Esconder Inativos", new { id = "BEsconderInativos", @checked = "checked" })
                        @Html.Label("Esconder Inativos", new { style = "padding-bottom: 0px; margin-bottom: 0px;", @for = "BEsconderInativos" })
                    </div>
                </div>
                <div class="col-md-10 center-block">
                    <div style="text-align: right">
                        @if (ViewBag.ControleUsuario)
                        {
                            <a href="#" id="btAlterarUsuarios" class="btn btn btn-primary"><span class="fa fa-user"></span>&nbsp;Usuários</a>
                        }
                        <a href="#" id="btAtestado" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>&nbsp;Atestado</a>
                        <a href="#" id="btIP" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>&nbsp;Cadastrar IP</a>
                        <a href="#" id="btOcorrencia" class="btn btn-primary"><span class="fa fa-circle-o"></span>&nbsp;Ocorrências</a>
                        <a href="#" id="btTermoResponsabilidadeAPP" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>&nbsp;Termo Responsabilidade APP</a>
                        <a href="#" id="btConsultar" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;Consultar</a>
                        <a href="#" id="btIncluir" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar</a>
                        <a href="#" id="btAlterar" class="btn btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Alterar</a>
                        <a href="#" id="btExcluir" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nomeTabela = "#" + '@nomeTabela';
    $(document).ready(function () {
        var controller = "Empresa";
        cwk_EventoDbClickEditar('Alterar', 'Empresa', nomeTabela);

        cwk_EventoClickCadastroAdicionar('#btIncluir', 'Cadastrar', controller);
        cwk_EventoClickCadastroAlterar('#btAtestado', 'Atestado', controller, nomeTabela);
        cwk_EventoClickCadastroAlterar('#btAlterar', 'Alterar', controller, nomeTabela);
        cwk_EventoClickCadastroAlterar('#btConsultar', 'Consultar', controller, nomeTabela);
        cwk_EventoClickCadastroExcluir('#btExcluir', 'Excluir', controller, nomeTabela, 'Empresa excluída com sucesso. ');
        cwk_EventoClickCadastroAlterar('#btAlterarUsuarios', 'Alterar', 'EmpresaUsuario', nomeTabela);
        cwk_EventoClickCadastroAlterar('#btOcorrencia', 'Cadastrar', 'OcorrenciaEmpresa', nomeTabela);

        
        $("#btTermoResponsabilidadeAPP").on("click", function () {
            var id = GetIdSelecionadoTable(nomeTabela);
            url = "/EmpresaTermoUso/GerarTermoUso/" + id;
             $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: url,
                success: function (d) {
                    if (d.success) {
                        window.location = "/EmpresaTermoUso/DownloadTermoUso" + "?fName=" + d.fName;
                    }
                    else {
                        cwkErro(d.erro);
                    }
                },
                 error: function () {
                     cwkErro("Erro ao requisitar o Termo, tente novamente!");
                }
            });
        });

        cwk_EventoAlterarAjaxParam('#btIP', 'Grid', 'IP', nomeTabela, "");
    });

    function CallBackLoadGrid() {
		var val = $("#tbEmpresaAtivo").val();		
		ApenasAtivos();	
	}
	$("#BEsconderInativos").click(function (event) {
		EscondeInativos(event);
	});
	function EscondeInativos(e) {
		var table = $(nomeTabela).DataTable();
		if ($("#BEsconderInativos").is(':checked')) {
			ApenasAtivos();
		}
		else {
			$("#tbEmpresaAtivo").val("");
			table.columns(17).search("").draw();
		}
	};
	function ApenasAtivos() {
		var table = $(nomeTabela).DataTable();
		$("#tbEmpresaAtivo").val("Sim");
		table.columns(17).search("Sim", true, false, true).draw();
	}
</script>
