@model List<Modelo.RegraBloqueio.Funcionario>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid  col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h2>Funcionários <small>Gerenciamento</small></h2><hr>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert">x</a>
                    @Html.ValidationSummary(false)
                </div>
            }

            <!-- Start grid atuais -->
            <div class="container-fluid col-md-12">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover" id="tbl">
                        <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>CPF</th>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var funcionario in Model)
                            {
                                <tr id="@funcionario.ID">
                                    <td>@funcionario.Usuario</td>
                                    <td>@funcionario.CPF</td>
                                    <td>@funcionario.Matricula</td>
                                    <td>@funcionario.Nome</td>
                                    <td>
                                        @Html.ActionLink("Editar", "Editar", routeValues: new { id = funcionario.ID })
                                        @Html.ActionLink("Excluir", "Excluir", routeValues: new { id = funcionario.ID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End grid atuais -->
        </div>
        <div class="row painel_botoes">
            <!-- Start botões -->
            <input type="submit" name="Novo" value="Adicionar Funcionários" class="btn btn-primary" data-form-action="@Url.Action("Novo")" />
            <!-- End Botões -->
        </div>

    </div>
    <script>
        $(document).ready(function () {
            window.tabelaUsuario = $('#tbl').DataTable({
                select: false,
                "language": {
                    'decimal': ',',
                    'thousands': '.',
                    'url': '//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json',
                }
            });

        });
    </script>

}