@model  Modelo.Proxy.pxyRelPontoWeb

@{
    Layout = null;
    string nomeTabela = "tbFun";
}
@Html.HiddenFor(x => x.UtilizaControleContrato)
@Html.HiddenFor(x => x.idRegistro)
@Html.HiddenFor(x => x.InicioPeriodo)
@Html.HiddenFor(x => x.FimPeriodo)
@Html.ValidationMessageFor(x => x.idSelecionados)
<div class="panel panel-default" id="pnlFun">

    <div class="panel-body" style="padding:0px;">
        <div class="row">
            @Html.GridFor(nomeTabela, (new Modelo.Proxy.pxyFuncionarioRelatorio()).GetType(), true, "GetFuncsRel", "GetFuns", "", "", Model.idSelecionados, "")
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //var table = cwk_DataTableRelatorio('tbFun', '240px', true, '', 2);

        if ($("#idSelecionados").val() != "" && $("#idSelecionados").val() != "" && $("#idSelecionados").val() != undefined) {
            var inputFiltroSelecionado = $("input[name='SelectbFun']");
            inputFiltroSelecionado.val('S');
            e = $.Event('keyup');
            inputFiltroSelecionado.trigger(e);
        }
    });
</script>